doctype html
html
  head
    title StarMade
    link(rel='stylesheet' href='styles/main.css')
    script(src='auth.js')
  body
    h1 StarMade
    ul
      li Login and Play
      li Play as Guest
    form#uplink
      label(for='username') Username
      input(type='text' name='username' id='username')
      br
      label(for='password') Password
      input(type='password' name='password' id='password')
      label
        input(type='checkbox' name='rememberMe' id='rememberMe')
        |  Remember this account
      ul
        li
          a.external(href='https://registry.star-made.org/users/password/new') Forgotten Password
          a.external(href='https://registry.star-made.org/users/sign_up') Register
      div#error
      button(type='submit') Login
    form#guest  
      label(for='playerName') Player Name
      input(type='text' name='playerName' id='playerName')
      button(type='submit') Play as Guest
    footer
      a.external(href='http://star-made.org/terms_and_conditions') Terms of Service
      span &copy; Schine GmbH
