h1 Changelog

h2#2_2_0 v2.2.0
table
  tr
    td.feature
    td Consolidated the various options popups into a single settings dialog.  This allows us to add additional settings panes in the future.  This update necessitated vastly different validation methods, and code changes throughout the launcher.
  tr
    td.update
    td Several small backend improvements

h2#2_1_3 v2.1.3
table
  tr
    td.update
    td The launcher now uses 
      span.code javaw.exe
      |  to launch the game on Windows. This should help mitigate issues with the recent buggy nVidia graphics driver. (version 378.49, released on January 24th, 2017)

h2#2_1_2 v2.1.2
table
  tr
    td.bugfix
    td Fixed displaying of Citizen Broadcasts. This will allow us to display important messages and notifications. Note that these messages are only displayed once, so be sure to read them.

h2#2_1_1 v2.1.1
table
  tr
    td.feature
    td Added changelog
  tr
    td.feature
    td Added backup dialog, which optionally creates a compressed copy of the game configs, worlds, and blueprints prior to updating.  Support for both 
      span.code .zip
      |  and 
      span.code .tar.gz
      |  formats.
  tr
    td.feature
    td Launcher now reads the game version from its 
      span.code version.txt
      | ; this allows the launcher to detect Steam updates, and also (unofficially) supports concurrent game versions. We will add official support in a later update.
  tr
    td.feature
    td Added custom java options field to the launcher options dialog.
  tr
    td.feature
    td Added validation to memory settings window
  tr
    td.feature
    td Added validation to guest logins
  tr
    td.bugfix
    td Fixed selecting custom Java paths
  tr
    td.bugfix
    td Fixed news post scrubbing. There should no longer be missing sections.
  tr
    td.update
    td Improved 
      span.code --help
      |  and added version information.
  tr
    td.update
    td Numerous backend improvements, including a rewrite of memory settings handling and updates to logging.