h1 Changelog

h2#2_1_1 v2.1.1
table
  tr
    td.feature
    td Added changelog
  tr
    td.feature
    td Added backup dialog, which optionally creates a copy of game worlds and blueprints prior to updating the game.
  tr
    td.feature
    td Launcher now reads the game version from its 
      span.code version.txt
      | ; this allows the launcher to detect Steam updates, and also (unofficially) supports concurrent game versions.  We will add official support in a later update.
  tr
    td.feature
    td Added validation to memory settings window
  tr
    td.update
    td Numerous backend improvements, including updates to logging.
  tr
    td.bugfix
    td Fixed selecting custom Java paths