doctype html
html
  head
    title Getting Started
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Ubuntu:400,700')
    link(rel='stylesheet' href='styles/main.css')
    script(src='getting_started.js')
  body.getting_started
    div.header
      img.logo(src='images/getting_started/GS_logo.png' alt='StarMade')
      img.schine-logo(src='images/getting_started/schine_logo.png' alt='Schine')
      a#close
        img(src='images/main/close_icon.png' alt='Close')
    div#step0.step
      div.content
        pre#licenses

        #acceptBg
        a#accept
          span.hidden Accept
        #declineBg
        a#decline
          span.hidden Decline

    div#step1.step
      div.side
      div.content
        h1 Welcome to StarMade
        p
          | StarMade is a 3D voxel sandbox space shooter where players can
          | explore the universe, create and fly space ships, build space
          | stations, mine and craft resources, colonize planets, form
          | alliances, fight for territories and more.
        p
          | In this procedurally-generated universe of StarMade, you're only
          | limited by your imagination. Play on your own or with friends and
          | journey into the new frontier.
        a#next
          span.hidden Continue
        #nextCoverTop
        #nextCoverRight
        #nextCoverBottom
        #nextCoverLeft
        
    div#step2.step
      div.side
      div.content
        h1 Join our Citizen Registry
        p
          | Create a free Citizen account to manage all your skins, settings,
          | and blueprints in one place. Connect in with the global StarMade
          | community, share creations and ideas, and more.
        p
          | If you already have a Citizen account then click
          | <span class="reference">Login</span>.
        p
          | If you don't wish to create one at this time, click
          | <span class="reference">Skip</span>. You will always be able to
          | create one later by clicking <span class="reference">Register</span>
          | in the launcher.
        #loginBg
        a#login
          span.hidden Login
        #createAccountBg
        a#createAccount
          span.hidden Create Account
        #skipBg
        a#skip
          span.hidden Skip
    div#step3.step
      div.side
      div.content
        h1 Link Steam Account?
        p
          | Your Registry account currently isn't linked to a Steam account. 
          | You can link your purchased StarMade game to your Steam account
          | letting you play with friends and gain access to all the features
          | of Steam while playing StarMade.
        p
          | You can link your Registry account to the currently logged in Steam
          | account on your computer by clicking the button below.
        #linkBg
        a#link
          span.hidden Link to Steam Account
        #skipOnceBg
        a#skipOnce
          span.hidden Skip Once
        a#skipAlways Skip and don't ask again
    div#updating.step
      div.side
      div.content
        h1 Launcher updating
        p
          | Please wait, the launcher is updating...
    footer
      ul.links#footerLinks
        li
          a#licensesLink Licenses
        li
          a.external(href='http://star-made.org/terms_and_conditions') Terms of Service
      span &copy; Schine GmbH
