doctype html
html
  head
    title Launcher
    link(rel='stylesheet' href='styles/main.css')
    script(src='index.js')
  body
    .top
      ul
        li News
        li Update
        li Options
        li Tools
        li Community
        li Help
      ul.window-controls
        li.minimize
          a _
        li.close 
          a X
