doctype html
html(ng-app='launcher')
  head
    title Launcher
    // bower:css
    // endbower
    link(rel='stylesheet' href='styles/main.css')
    script(src='index.js')
    // bower:js
    // endbower
  body
    .container
      img.logo(src='images/main/logo.png' alt='StarMade')
      .top
        img.schine-logo(src='images/main/launcher_schine_logo.png' alt='Schine')
        ul.window-controls
          li
            minimize-button
              img(src='images/main/minimize_icon.png' alt='Minimize')
          li
            close-button
              img(src='images/main/close_icon.png' alt='Close')
        ul.nav
          li
            a(ui-sref='news') News
          li
            a(ui-sref='council') Council
          li
            a(ui-sref='support') Support

        ul.nav.nav-right
          li
            a(ng-click='launcherOptionsWindow = true')
              span.nav-options-gear
              span.nav-options-gear.hover
              | Options
      .content(ui-view)
      div(ng-controller='CitizenBroadcastCtrl')
        popup(title='Citizen Broadcast' type='notification' opened='unread')
          div(ng-bind-html='message')
      .footer(ng-controller='UpdateCtrl')
        popup(title='Build Type' type='tooltip' opened='buildTypeTooltip')
          p
            | Build Types are different branches of the game. For the most
            | stable version of the game choose our Release build type.
            br
            | If you want to be on the forefront of every new addition we add
            | then choose our Dev build type.
          p
            | Be aware Dev builds are more unstable and often can change several
            | times in the space of hours so are probably not the best choice
            | for a server to be running.
        popup(title='Build Version' type='tooltip' opened='buildVersionTooltip')
          p
            | Build Versions are different versions of the game.
        popup(title='Server Port' type='tooltip' opened='serverPortTooltip')
          p
            | Server Port is the port the dedicated server will listen on.
        .pane(ng-class='{play: onPlayTab, dedicated: onDedicatedTab}')
          ul.tabs
            li
              a(ng-click='showPlayTab()') Play StarMade
            li
              a(ng-click='showDedicatedTab()') Dedicated Server
          form
            .field-group
              label(for='buildType')
                | Build Type
                sup(ng-click='buildTypeTooltip = true')
                  img(src='images/main/launch_tooltip_icon.png' alt='')
              br
              select(id='buildType' ng-model='branch' ng-disabled='updaterProgress.inProgress || switchingBranch')
                option(value='release') Release (recommended)
                option(value='dev') Dev
                option(value='pre') Pre
                option(value='archive') Archive
              a.gear(ng-click="openOptions('buildType')") &nbsp;
            
            popup.build-type-popup(title='Build Type Options' type='settings' opened='buildTypeOptions')
              .field-group
                label(for='popupBuildType')
                  | Build Type
                br
                select(id='popupBuildType' ng-model='popupData.branch' ng-disabled='updaterProgress.inProgress || switchingBranch')
                  option(value='release') Release (recommended)
                  option(value='dev') Dev
                  option(value='pre') Pre
                  option(value='archive') Archive
              
              .field-group
                label(for='popupInstallDir')
                  | Installation Directory
                  span.error(ng-show="!!popupData.installDir_error") {{popupData.installDir_error}}
                br
                input.wide(ng-model='popupData.installDir' ng-disabled='updaterProgress.inProgress || switchingBranch')
                button(ng-click='browseInstallDir()' ng-disabled='updaterProgress.inProgress || switchingBranch') Browse
              
              .field-group
                button(ng-click='popupBuildTypeSave()' ng-disabled='updaterProgress.inProgress || switchingBranch') Save
                button(ng-click="closeOptions('buildType')") Cancel
            
            .field-group
              label(for='buildVersion')
                | Build Version
                sup(ng-click='buildVersionTooltip = true')
                  img(src='images/main/launch_tooltip_icon.png' alt='')
              br
              select(id='buildVersion' ng-model='selectedVersion' ng-disabled='updaterProgress.inProgress || switchingBranch')
                option(ng-repeat="version in versions" value='{{$index}}')
                  | v{{version.version}}{{version.hotfix}} {{version.latest}}
              a.gear(ng-click="openOptions('buildVersion')") &nbsp;
            
            popup.build-version-popup(title='Build Version Options' type='settings' opened='buildVersionOptions')
              .field-group
                label(for='popupBuildVersion')
                  | Build Version
                br
                select(id='popupBuildVersion' ng-model='popupData.selectedVersion' ng-disabled='updaterProgress.inProgress || switchingBranch')
                  option(ng-repeat="version in versions" value='{{$index}}')
                    | v{{version.version}}{{version.hotfix}} {{version.latest}}
                button(ng-click='selectNewestVersion()' ng-disabled='updaterProgress.inProgress || switchingBranch') Select Newest
                button(ng-click='selectLastUsedVersion()' ng-disabled='updaterProgress.inProgress || switchingBranch') Select Last Used
              
              .field-group.download-options
                label Download Options
                br
                button(ng-click='pre_update()' ng-disabled='updaterProgress.inProgress || switchingBranch') Download Selected Build Version
                span.description
                  | Repair current download or quickly switch to another Build
                  | Version
              
                button(ng-click='pre_update(true)' ng-disabled='updaterProgress.inProgress || switchingBranch || popupData.deleting') Force Download All &amp; Overwrite
                span.description
                  | Force re-download and replace of every file (takes longer)

                label Currently Installed:
                br
                span.description
                  | version: {{lastUsedVersionHotfix}}
                  br
                  | build:  {{lastVersion}}
            
            .field-group(ng-show='onDedicatedTab' ng-controller='LaunchCtrl')
              label(for='serverPort')
                | Server Port
                sup(ng-click='$parent.serverPortTooltip = true')
                  img(src='images/main/launch_tooltip_icon.png' alt='')
              br
              input(id='serverPort' ng-model='serverPort')


        .status
          | {{status}}
          br
          span(ng-hide:"updaterProgress.inProgress")
            | {{status_updateWarning}}
        .update-bg(ng-class='{hover: updateHover}' ng-show='updaterProgress.needsUpdating && !updaterProgress.inProgress')
        a.update(ng-click='pre_update()' ng-mouseenter='updateMouseEnter()' ng-mouseleave='updateMouseLeave()')
        
        progress-bar(ng-show='updaterProgress.inProgress' cur-value='{{updaterProgress.curValue}}' max-value='{{updaterProgress.maxValue}}')

        div.backupDialog
          popup(title="Backup" type="settings" opened='backupDialog')
            //- Initial query
            div(ng-show="!backupDialogError && !backupDialogProgress")
              form.side-by-side
                b Would you like to perform a backup prior to updating?
                p This will create a backup of your worlds and blueprints, preserving your game data in the unlikely event of something going wrong. The backup will be stored in the backups folder within your game directory.
                .field-group.block
                  div.right
                    button(ng-click='closeBackupDialog()') Cancel
                  div.left
                    button(ng-click='backup()') Yes
                    button(ng-click='update()') No
            //- Progress
            div(ng-show="backupDialogProgress && !backupDialogError")
              form.side-by-side
                b Backing up your game data
                ul
                  li(ng-show="backupDialogProgressWorlds"    ) Worlds ... 
                    span(ng-show="backupDialogProgressWorlds=='complete'") done.
                    span(ng-show="backupDialogProgressWorlds=='skipped'") skipped.
                  li(ng-show="backupDialogProgressBlueprints") Blueprints ... 
                    span(ng-show="backupDialogProgressBlueprints=='complete'") done.
                    span(ng-show="backupDialogProgressBlueprints=='skipped'") skipped.
                br
                div(ng-show="backupDialogProgressComplete")
                  p Complete. 
                    span(ng-show="backupDialogPath") Your backup is located here:
                    input(id="backupPath" style="width:100%" value="{{backupDialogPath}}" readonly)
                br
                span(style="size: 14px" ng-show="backupDialogProgressComplete").right Click update to continue
                .field-group.block
                  div
                    button.right(ng-click='update()' ng-show="backupDialogProgressComplete") Update
            //- Error
            div(ng-show="backupDialogError")
              form.side-by-side
                p An error occured during the backup
                  span(ng-show="backupDialogErrorDetailsSection")  of 
                    span.highlight {{backupDialogErrorDetailsSection}}
                  | .
                  br
                  | Details follow:
                pre {{backupDialogErrorDetails || "No details available"}}
                .field-group.block
                  div.right
                    button(ng-click='backup()'           ) Retry
                    button(ng-click='closeBackupDialog()') Cancel
                  div.left
                    button(ng-click='update()'            ) Update anyway



        div(ng-controller="LaunchCtrl")
          div.envJavaOptionsWarning
            popup(title="Warning" type='notification' opened='_java_options.show_dialog')
              form.side-by-side
                p
                  | Found the 
                  span.code _JAVA_OPTIONS
                  |  environment variable on your system.  The options it contains forcibly overwrite those used by every java app on your system, including StarMade.
                p.severe In many cases this will cause undesired behavior, including preventing the game from launching if it specifies too small of memory values.

                br.clearfix

                p
                  | We recommend clearing this value, but you may keep it or alter it below.

                br.clearfix

                .field-group.block.right
                  input(id="edit_java_options" name="edit_java_options" ng-model="_java_options.modified")

                p.warning To change its value permanently, you must do so outside of the launcher.

                br.clearfix

                .field-group.block
                  div.right
                    button(ng-click='saveEnvJavaOptionsWarning()' ng-disabled="_java_options.modified == get_java_options()") Update value
                    button(ng-click='closeEnvJavaOptionsWarning()') Close
                  div.left
                    button(ng-click='clearEnvJavaOptions()') Clear and continue



          div.clientMemoryOptions
            popup(title='Client Memory Settings' type='settings' opened='clientMemoryOptions')
              p
                | The recommended memory for StarMade is 4096mb.
                | Smaller values will work, but may significantly reduce gameplay quality.

              form.side-by-side
                .field-group.primary
                  label(for='maxMemory')
                    | Maximum Memory (MB):
                  input.slider-group(name="maxMemoryInput" id="maxMemoryInput" type="number" ng-model="memory.max" string-to-number min="{{memory.floor}}" max="{{memory.ceiling}}" step="{{memory.step}}" ng-change="set_memory_slider_value(memory.max)")
                  input.wide.slider-group(name="maxMemorySlider" id="maxMemorySlider" type="range"  ng-model="memory.slider" string-to-number min="{{memory.floor}}" max="{{memory.ceiling}}" ng-change="snap_memory(memory.slider)")
                  br
                  label.right.critically_low_memory_warning(ng-show="memory.max < 2048")
                    | Insufficient memory. The game will very likely encounter problems.
                  label.right.low_memory_warning(ng-show="memory.max >= 2048 && memory.max < 4096")
                    | Less than 4096mb is not recommended, and may cause issues.
                  label.right.non-power-of-2(ng-show="!memory.power_of_2 && memory.max >= 4096")
                    | Some Java versions require max memory to be a power of 2
                  label.right.power-of-2(ng-show="memory.power_of_2 && memory.max >= 4096")
                    | Max memory is a power of 2

                br.clearfix
                hr(ng-hide="launcherOptions.showAdvancedMemory")
                a(name="__advClick" href="#" ng-click="launcherOptions.showAdvancedMemory = true" ng-hide="launcherOptions.showAdvancedMemory")
                  | Show advanced options

                div.advanced-memory(ng-show="launcherOptions.showAdvancedMemory")
                  .field-group
                    label(for='initialMemory')
                      | Initial Memory (MB):
                    br
                    input(name="initialMemory" id='initialMemory' type="number" ng-model='memory.initial' min="64")
                    
                  .field-group
                    label(for='earlyGenMemory')
                      | Early Gen Memory:
                    br
                    input(name="earlyGenMemory" id='earlyGenMemory' type="number" ng-model='memory.earlyGen' min="64")

                  br.clearfix
                  label.critically_low_memory_warning(ng-show='memory.earlyGen >= memory.initial')
                    | Initial memory 
                    i must 
                    | be larger than earlyGen.
                    br
                  label.low_memory_warning(ng-show='memory.initial < 256') Note: Setting initial memory below 256mb may cause problems

                .field-group.block.right
                  button(ng-click='saveClientOptions()' ng-disabled="memory.earlyGen >= memory.initial") Save
                  button(ng-click='closeClientOptions()') Cancel

          a.gear.gear-memory(ng-click="openClientMemoryOptions()") &nbsp;
          .launch-bg(ng-class='{hover: launchHover}' ng-hide='updaterProgress.needsUpdating || updaterProgress.inProgress')
          a.launch(ng-controller='LaunchCtrl' ng-click='launch(onDedicatedTab)' ng-hide='updaterProgress.inProgress || updaterProgress.needsUpdating' ng-mouseenter='launchMouseEnter()' ng-mouseleave='launchMouseLeave()')

    popup.launcher-options-popup(title='Launcher Options' type='settings' opened='launcherOptionsWindow')
      form.popup-body
        .field-group.launcher-options
          label Launcher Settings
          br
          button(ng-click='switchUser()') Switch User
          span.description
            | You are currently logged in as:
            br
            span.highlight {{playerName}}
          br
          button(ng-click='showChangelog()') Show Changelog
          span.description
            | Launcher 
            span.highlight v{{version}} 
            | installed
            br
            | (build 
            span.highlight {{buildHash}}
            | )
          br
          button(ng-click='openDownloadPage()') Launcher Download Page
          span.description


        .field-group.launcher-options(ng-if='currentUser' ng-hide="!steamLaunch")
          label Steam Settings
          br
          button(ng-if='!steamAccountLinked' ng-click='openSteamLink()') Link Registry Account to Steam
          button(ng-if='steamAccountLinked' ng-disabled='true') Registry Account Linked to Steam

        .field-group.launcher-options(ng-controller="LaunchCtrl")
          label Java Settings
          br
          input(type="text" ng-model='launcherOptions.javaArgs' ng-blur="setJavaArgs()")
          span.description
            | These options are passed to Java, along with memory settings, etc.
          br
          button(ng-click="resetJavaArgs()") Reset to Default
          span.description
          br
          input(type="text" ng-model='launcherOptions.javaPath' ng-blur="verifyJavaPath()")
          span.description
            | Enter a custom java path, or leave
            | blank to use the bundled version.
          button(ng-click="launcherOptions.javaPathBrowse()") Browse
          br
          span.description.error(ng-show="launcherOptions.invalidJavaPath")
            | There is no java executable in the specified path.
          span.description.status(ng-hide="launcherOptions.invalidJavaPath")
            | {{launcherOptions.javaPathStatus}}
