doctype html
html(ng-app='launcher')
  head
    title Launcher
    link(rel='stylesheet' href='styles/main.css')
    script(src='index.js')
  body
    .container
      img.logo(src='images/main/logo.png' alt='StarMade')
      .top
        img.schine-logo(src='images/main/launcher_schine_logo.png' alt='Schine')
        ul.window-controls
          li
            minimize-button
              img(src='images/main/minimize_icon.png' alt='Minimize')
          li
            close-button
              img(src='images/main/close_icon.png' alt='Close')
        ul.nav
          li
            a(ui-sref='news') News
          li
            a(ui-sref='community') Community
          li
            a(ui-sref='council') Council
          li
            a(ui-sref='support') Support
        ul.nav.nav-right
          li
            a
              span.nav-options-gear
              span.nav-options-gear.hover
              | Options
      .content(ui-view)
      div(ng-controller='CitizenBroadcastCtrl')
        popup(title='Citizen Broadcast' type='notification' opened='unread')
          div(ng-bind-html='message')
      .footer(ng-controller='UpdateCtrl')
        .pane(ng-class='{play: onPlayTab, dedicated: onDedicatedTab}')
          ul.tabs
            li
              a(ng-click='showPlayTab()') Play StarMade
            li
              a(ng-click='showDedicatedTab()') Dedicated Server
          form
            .field-group
              label(for='buildType')
                | Build Type
                sup
                  img(src='images/main/launch_tooltip_icon.png' alt='')
              br
              select(id='buildType' ng-model='branch' ng-disabled='updaterProgress.inProgress || switchingBranch')
                option(value='release') Release (recommended)
                option(value='dev') Dev
                option(value='pre') Pre
                option(value='archive') Archive
              a.gear &nbsp;
            
            .field-group
              label(for='buildVersion')
                | Build Version
                sup
                  img(src='images/main/launch_tooltip_icon.png' alt='')
              br
              select(id='buildVersion' ng-model='selectedVersion' ng-disabled='updaterProgress.inProgress || switchingBranch')
                option(ng-repeat="version in versions" value='{{$index}}')
                  | v{{version.version}} {{version.latest}}
              a.gear &nbsp;
            
            .field-group(ng-show='onDedicatedTab')
              label(for='serverPort')
                | Server Port
                sup
                  img(src='images/main/launch_tooltip_icon.png' alt='')
              br
              input(id='serverPort' ng-model='serverPort')
        .status {{status}}
        .update-bg(ng-class='{hover: updateHover}' ng-show='updaterProgress.needsUpdating && !updaterProgress.inProgress')
        a.update(ng-click='update()' ng-mouseenter='updateMouseEnter()' ng-mouseleave='updateMouseLeave()')
        
        progress-bar(ng-show='updaterProgress.inProgress' cur-value='{{updaterProgress.curValue}}' max-value='{{updaterProgress.maxValue}}')

        .launch-bg(ng-class='{hover: launchHover}' ng-hide='updaterProgress.needsUpdating || updaterProgress.inProgress')
        a.launch(ng-controller='LaunchCtrl' ng-click='launch()' ng-hide='updaterProgress.inProgress || updaterProgress.needsUpdating' ng-mouseenter='launchMouseEnter()' ng-mouseleave='launchMouseLeave()')
