doctype html
html(ng-app='launcher')
  head
    title Launcher
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Ubuntu:400,700')
    link(rel='stylesheet' href='styles/main.css')
    script(src='index.js')
  body
    .container
      .top
        ul(ng-show='acceptedEula' class='ng-hide')
          li
            a(ui-sref='news') News
          li
            a(ui-sref='update') Update
          //li Options
          //li Tools
          li
            a(ui-sref='community') Community
          li
            external-link(href='http://help.star-made.org/') Help
        ul.window-controls
          li
            minimize-button _
          li 
            close-button X
      .content(ui-view ng-class="{'no-footer': !acceptedEula}")
      .footer(ng-show='acceptedEula' class='ng-hide')
        div(ng-controller='UpdateCtrl')
          progress-bar(cur-value='{{updaterProgress.curValue}}' max-value='{{updaterProgress.maxValue}}') {{updaterProgress.text}}
          form
            a.player(ng-click='startAuth()' ng-bind='playerName')
            button(ng-click='update()' ng-disabled='versions.length == 0 || updaterProgress.inProgress') Update
            button(ng-controller='LaunchCtrl' ng-click='launch()' ng-disabled='updaterProgress.inProgress') Launch
            span(ng-if='versions.length > 0') Using v{{versions[selectedVersion].version}}
            span(ng-if='versions.length == 0') Getting versions...
