doctype html
html(ng-app='launcher')
  head
    title Launcher
    link(rel='stylesheet' href='styles/main.css')
    script(src='index.js')
  body
    .container
      img.logo(src='images/main/logo.png' alt='StarMade')
      .top
        img.schine-logo(src='images/main/launcher_schine_logo.png' alt='Schine')
        ul.window-controls
          li
            minimize-button
              img(src='images/main/minimize_icon.png' alt='Minimize')
          li
            close-button
              img(src='images/main/close_icon.png' alt='Close')
        ul.nav
          li
            a(ui-sref='news') News
          li
            a(ui-sref='community') Community
          li
            a(ui-sref='council') Council
          li
            a(ui-sref='support') Support
        ul.nav.nav-right
          li
            a(ng-click='launcherOptions = true')
              span.nav-options-gear
              span.nav-options-gear.hover
              | Options
      .content(ui-view)
      div(ng-controller='CitizenBroadcastCtrl')
        popup(title='Citizen Broadcast' type='notification' opened='unread')
          div(ng-bind-html='message')
      .footer(ng-controller='UpdateCtrl')
        popup(title='Build Type' type='tooltip' opened='buildTypeTooltip')
          p
            | Build Types are different branches of the game. For the most
            | stable version of the game choose our Release build type.
            br
            | If you want to be on the forefront of every new addition we add
            | then choose our Dev build type.
          p
            | Be aware Dev builds are more unstable and often can change several
            | times in the space of hours so are probably not the best choice
            | for a server to be running.
        popup(title='Build Version' type='tooltip' opened='buildVersionTooltip')
          p
            | Build Versions are different versions of the game.
        popup(title='Server Port' type='tooltip' opened='serverPortTooltip')
          p
            | Server Port is the port the dedicated server will listen on.
        .pane(ng-class='{play: onPlayTab, dedicated: onDedicatedTab}')
          ul.tabs
            li
              a(ng-click='showPlayTab()') Play StarMade
            li
              a(ng-click='showDedicatedTab()') Dedicated Server
          form
            .field-group
              label(for='buildType')
                | Build Type
                sup(ng-click='buildTypeTooltip = true')
                  img(src='images/main/launch_tooltip_icon.png' alt='')
              br
              select(id='buildType' ng-model='branch' ng-disabled='updaterProgress.inProgress || switchingBranch')
                option(value='release') Release (recommended)
                option(value='dev') Dev
                option(value='pre') Pre
                option(value='archive') Archive
              a.gear(ng-click="openOptions('buildType')") &nbsp;
            
            popup(title='Build Type Options' type='settings' opened='buildTypeOptions')
              .field-group
                label(for='popupBuildType')
                  | Build Type
                br
                select(id='popupBuildType' ng-model='popupData.branch' ng-disabled='updaterProgress.inProgress || switchingBranch')
                  option(value='release') Release (recommended)
                  option(value='dev') Dev
                  option(value='pre') Pre
                  option(value='archive') Archive
              
              .field-group
                label(for='popupInstallDir')
                  | Installation Directory
                br
                input.wide(ng-model='popupData.installDir' ng-disabled='updaterProgress.inProgress || switchingBranch')
                button(ng-click='browseInstallDir()' ng-disabled='updaterProgress.inProgress || switchingBranch') Browse
              
              .field-group
                button(ng-click='popupBuildTypeSave()' ng-disabled='updaterProgress.inProgress || switchingBranch') Save
                button(ng-click="closeOptions('buildType')") Cancel
            
            .field-group
              label(for='buildVersion')
                | Build Version
                sup(ng-click='buildVersionTooltip = true')
                  img(src='images/main/launch_tooltip_icon.png' alt='')
              br
              select(id='buildVersion' ng-model='selectedVersion' ng-disabled='updaterProgress.inProgress || switchingBranch')
                option(ng-repeat="version in versions" value='{{$index}}')
                  | v{{version.version}} {{version.latest}}
              a.gear(ng-click="openOptions('buildVersion')") &nbsp;
            
            popup.build-version-popup(title='Build Version Options' type='settings' opened='buildVersionOptions')
              .field-group
                label(for='popupBuildVersion')
                  | Build Version
                br
                select(id='popupBuildVersion' ng-model='popupData.selectedVersion' ng-disabled='updaterProgress.inProgress || switchingBranch')
                  option(ng-repeat="version in versions" value='{{$index}}')
                    | v{{version.version}} {{version.latest}}
                button(ng-click='popupData.selectedVersion = 0' ng-disabled='updaterProgress.inProgress || switchingBranch') Select Newest
                button(ng-click='selectLastUsedVersion()' ng-disabled='updaterProgress.inProgress || switchingBranch') Select Last Used
              
              .field-group.download-options
                label Download Options
                br
                button(ng-click='update()' ng-disabled='updaterProgress.inProgress || switchingBranch') Download Selected Build Version
                span.description
                  | Repair current download or quickly switch to another Build
                  | Version
              
                button(ng-click='update(true)' ng-disabled='updaterProgress.inProgress || switchingBranch || popupData.deleting') Force Download All &amp; Overwrite
                span.description
                  | Force re-download and replace of every file (takes longer)
            
            .field-group(ng-show='onDedicatedTab')
              label(for='serverPort')
                | Server Port
                sup(ng-click='serverPortTooltip = true')
                  img(src='images/main/launch_tooltip_icon.png' alt='')
              br
              input(id='serverPort' ng-model='serverPort')
        .status {{status}}
        .update-bg(ng-class='{hover: updateHover}' ng-show='updaterProgress.needsUpdating && !updaterProgress.inProgress')
        a.update(ng-click='update()' ng-mouseenter='updateMouseEnter()' ng-mouseleave='updateMouseLeave()')
        
        progress-bar(ng-show='updaterProgress.inProgress' cur-value='{{updaterProgress.curValue}}' max-value='{{updaterProgress.maxValue}}')

        div(ng-controller='LaunchCtrl')
          popup(title='Client Memory Settings' type='settings' opened='clientMemoryOptions')
            p
              | Please keep in mind that 32-bit OS have a limit of allocated
              | memory. Should 1024 throw out memory excpetions, please try less
              | than 1024.
            
            form.side-by-side
              .field-group
                label(for='maxMemory')
                  | Maximal Memory (MB)
                br
                input(id='maxMemory' ng-model='memory.max')
              
              .field-group
                label(for='initialMemory')
                  | Initial Memory (MB)
                br
                input(id='initialMemory' ng-model='memory.initial')
                
              .field-group
                label(for='earlyGenMemory')
                  | Early Gen Memory
                br
                input(id='earlyGenMemory' ng-model='memory.earlyGen')
                  
              .field-group.block
                button(ng-click='saveClientOptions()') Save
                button(ng-click='closeClientOptions()') Cancel

          a.gear.gear-launch(ng-click="openClientOptions()") &nbsp;
        .launch-bg(ng-class='{hover: launchHover}' ng-hide='updaterProgress.needsUpdating || updaterProgress.inProgress')
        a.launch(ng-controller='LaunchCtrl' ng-click='launch(onDedicatedTab)' ng-hide='updaterProgress.inProgress || updaterProgress.needsUpdating' ng-mouseenter='launchMouseEnter()' ng-mouseleave='launchMouseLeave()')

    popup.launcher-options-popup(title='Launcher Options' type='settings' opened='launcherOptions')
      form
        .field-group.launcher-options
          label Launcher Settings
          br
          button(ng-click='openDownloadPage()') Download Latest Launcher
          span.description
            | Download the latest launcher

        .field-group.launcher-options(ng-if='currentUser')
          label Steam Settings
          br
          button(ng-if='!steamAccountLinked' ng-click='openSteamLink()') Link Registry Account to Steam
          button(ng-if='steamAccountLinked' ng-disabled='true') Registry Account Linked to Steam
