ul
  li
    external-link(href='https://star-made.org/news') StarMade News
  li
    external-link(href='http://starmadedock.net/') StarMade Forums
  li
    external-link(href='https://www.reddit.com/r/starmade' third-party-warning='true') StarMade Reddit
