ul.side
  li
    a
      img
  li
    a
      img
  li
    a
      img
div.community-featured
  p.coming-soon
    h3.title Coming Soon!
    p We are working hard to bring the community section to you in 2016. Please check back often for updates, or subscribe to our newsletter!
  
div.community-featured-details
  
