ul.council-links
  li
    external-link(href='http://starmadedock.net/council/') What is the Council?
  li
    external-link(href='http://council.star-made.org/') Who is in the Council?
  //- li
    //- external-link(href='http://starmadedock.net/council/signup') How can I apply?
  li
    external-link(href='http://starmadedock.net/forums/cir/') Council Forum
ul.news.council-news
  li(ng-repeat='entry in news')
    div.banner.no-banner(ng-hide='!entry.title')
      h2.title {{entry.title}}
      span.date
        | {{entry.created_at | ordinalDate}}
    news-body(ng-bind-html='entry.body')
div.council-side
  img(src='images/council/council_logo.png' alt='Council of Intergalactic Representatives')
