li
  h2(ng-click='expanded = !expanded')
    span(style="color: gray") {{note}} 
    | {{question}}
    span.toggle(ng-class="{collapsed: !expanded, expanded: expanded}")
  p(ng-show='expanded' ng-transclude)
