ul.side
  li
    a
      img
  li
    a
      img
  li
    a
      img
ul.news
  li(ng-repeat='entry in news')
    div.banner(ng-class="{'no-banner': !entry.banner}")
      h2.title {{entry.title}}
      span.date
        | {{entry.created_at | ordinalDate}}
    news-body(ng-bind-html='entry.body')
