ul.side(ng-show='sidebarEntries.length > 0')
  li(ng-repeat='entry in sidebarEntries' ng-style="{'background': 'url({{entry.launcher_news_sidebar_entry.image_url}})'}")
    external-link(href='{{entry.launcher_news_sidebar_entry.url}}')
  // Placeholders for when the content is still loading
ul.side(ng-hide='sidebarEntries.length > 0')
  li
  li
  li
ul.news
  li(ng-repeat='entry in news')
    div.banner(ng-class="{'no-banner': !entry.banner}" ng-hide='!entry.title')
      h2.title {{entry.title}}
      span.date
        | {{entry.created_at | ordinalDate}}
    news-body(ng-bind-html='entry.body')
