ul.support-links
  li
    external-link(href='') Game Support Forum
  li
    external-link(href='') Registry/Account Support Forum
  li
    external-link(href='') Steam Support
  li
    external-link(href='') Report a Bug
  li
    external-link(href='') Contact Support

div.support-content
  h1 Frequently Asked Questions

  ul.faq
    faq-entry(question="First question")
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
      | vehicula commodo nisl ac tempus. Integer mollis eleifend nisl, vitae
      | condimentum odio commodo id. Sed lacus diam, dignissim volutpat justo
      | non, luctus blandit quam. Sed eget venenatis purus. Cras nec erat
      | venenatis, rutrum augue vehicula, vehicula mauris. Quisque non massa
      | nisi. Morbi in est dapibus, pellentesque orci a, rutrum odio. In nisl
      | nunc, condimentum sed eros eu, ultrices efficitur neque. Morbi non
      | vestibulum risus. Curabitur semper eget tellus id pulvinar. Aliquam
      | placerat nisi condimentum nisl feugiat, at interdum justo consequat.
      | Etiam euismod bibendum efficitur. Aenean varius aliquet purus, vel
      | semper dui semper ut. Fusce non eros ultrices, bibendum nunc non, 
      | aliquet dui.
    faq-entry(question="Second question")
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vehicula commodo nisl ac tempus. Integer mollis eleifend nisl, vitae condimentum odio commodo id. Sed lacus diam, dignissim volutpat justo non, luctus blandit quam. Sed eget venenatis purus. Cras nec erat venenatis, rutrum augue vehicula, vehicula mauris. Quisque non massa nisi. Morbi in est dapibus, pellentesque orci a, rutrum odio. In nisl nunc, condimentum sed eros eu, ultrices efficitur neque. Morbi non vestibulum risus. Curabitur semper eget tellus id pulvinar. Aliquam placerat nisi condimentum nisl feugiat, at interdum justo consequat. Etiam euismod bibendum efficitur. Aenean varius aliquet purus, vel semper dui semper ut. Fusce non eros ultrices, bibendum nunc non, aliquet dui.
