form
  select(ng-model='branch')
    option(value='pre') PRE
    option(value='dev') DEV
    option(value='release') RELEASE
    option(value='archive') ARCHIVE
  
  select(ng-model='selectedVersion')
    option(ng-repeat="version in versions" value='{{$index}}') {{version.build}} v{{version.version}} ({{branch | uppercase}})
      
  input(ng-model='installDir')
  
  button(ng-click='update()') Update
  button(ng-controller='LaunchCtrl' ng-click='launch()') Launch

p(ng-if='!versions') There are no versions on this branch.
