ul.council-links {
  .links;

  left: 149px;
}

ul.council-news {
  .content(280px, 58px, 5px) !important;
}

div.council-side {
  float: right;
  text-align: center;
  width: 208px;

  img {
    width: 155px;
  }
}

// Styles for StarMade Dock elements
a.setFavicon {
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  border-radius: 0;
  background-size: 16px 16px;
  background-position: left center;
  padding-left: 18px;
}

.avatar img {
  border-radius: 100%;
}

.inTextMiniMe img {
  margin-right: 2px;
  margin-bottom: -2px;
  width: 12px;
  height: 12px;
}
