body {
  font-family: 'Lucida Grande', Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin: 0;
}

.top {
  background-color: #1C6B7F;
  border-bottom: 6px solid #0B3848;
  color: #FFFFFF;
  overflow: hidden; // clearfix
  -webkit-app-region: drag;

  ul {
    -webkit-app-region: no-drag;

    font-size: 24px;
    margin: 0;
    padding: 0;

    &.window-controls {
      float: right;

      li {
        padding: 20px 16px;
      }
    }

    li {
      float: left;
      list-style: none;
      padding: 20px 36px;

      a {
        cursor: default;
      }
    }
  }
}
