ul.news {
  padding: 0;
  list-style: none;

  li {
    margin-bottom: 20px;
  }

  .date {
  	background: #194b7f;
  	border-radius: 2px;
  	border-top: 2px solid #1e5a98;
  	text-shadow: 0 -2px 0 rgba(0, 0, 0, .2);
  	color: #FFF;
  	font-size: 14px;
  	text-align: center;
  	font-weight: bold;
  	text-transform: uppercase;
  	width: 50px;
  	padding: 4px 0 8px;
  	display: inline-block;
  	vertical-align: middle;
  	margin-right: 10px;

    div {
      font-size: 26px;
    }
	}

  .title {
    color: #FFFFFF;
    display: inline;
	  vertical-align: middle;
	  padding-left: 6px;
  }

  .meta {
    background: rgba(255, 255, 255, .1);
    padding: 10px;
    margin: 10px 0;
    border-radius: 2px;
    -moz-border-radius: 2px;
    border-top: 1px solid rgba(255, 255, 255, .1);

    strong {
      color: #FFFFFF;
    }
  }

  .body {
    padding: 10px 10px 20px 10px;
    border-bottom: 2px solid #227B86;
  }
}
