doctype html
html(ng-app='launcher-self-updater')
  head
    title Launcher
    // bower:css
    // endbower
    link(rel='stylesheet' href='styles/main.css')
    script(src='index.js')
    // bower:js
    // endbower
  body
    div(ng-controller='SelfUpdaterCtrl')
      progress(value='22' max='100')
